/* === PAGE PRODUCT-DETAILS START === */

.product-details {
    margin-bottom: 153px;
}
.product-details .product-details-item + .product-details-item {
    margin-top: 54px;
}
.product-details .product-details-item-1 {
    margin-top: 28px;
}
.small-card {
    margin-top: 28px;
}
.product-details-bordered {
    border: 1px solid #dfdfdf;
    padding: 18px 21px;
}
.product-details-info {
    margin-top: 43px;
}
.product-details-info-card {
    width: 100%;
}
.product-details-info p {
    margin-top: 32px;
}
.product-details-info .product-details-action {
    margin-top: 50px;
}
.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-details-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.product-details-action .btn-custom {
    margin-right: 17px;
}
.product-details i + i {
    margin-left: 4px;
}
.mobile-aside-toggle {
    display: none;
}
@media(max-width: 1200px) {
    .product-details-action {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-flow:column wrap;
                flex-flow:column wrap;
    }
    .social {
        margin-top: 20px;
    }
    .buttons {
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .aside-product-price {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .product-price-variant {
        margin: auto;
        margin-top: 10px;
    }
    .product-author-name {
        margin: 10px 0 10px;
    }
}
 @media(max-width: 991px) {
    .mobile-aside-toggle {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .breadcrumb {
        display: none;
    }
    .aside-product-price {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .product-price-variant {
        margin: 0 0 0 auto;
       
    }
}

@media(max-width:768px) {
    .buttons {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-flow:column wrap;
                flex-flow:column wrap;
    }  
    .btn-custom {
        margin-bottom: 15px;
    } 
}
/* === PAGE PRODUCT-DETAILS END === */