/* ===== INNER START ===== */
.inner {
    padding: 65px 0;
    background-image: url("../img/inner-bg.png");
}
.inner .inner-title {
    margin-bottom: 28px;
}
/* ===== INNER END ===== */
/* ===== ASIDE START ===== */
/* -- ASIDE START -- */
.aside-block .img-wrapper {
    margin-right: 15px;
}
.aside-block .nickname {
    font-size: 18px;
    color: #263238;
    margin-bottom: 20px;
}
.aside-block .status {
    border: 1px solid #d5d5d5;
    padding: 8px 14px 8px 9px;
    font-size: 13px;
    color: #70838d;
    line-height: 9px;
}
.aside-block .status::before {
    display: block;
    content:'';
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #8bbe44;
    margin-right: 8px;
}
.aside-block .flag-sprites {
    margin-top: 43px;
}
.social-nav a + a {
    margin-left: 7px;
}
.social-nav {
    margin-bottom: 27px;
}
aside button {
    margin-bottom: 30px;
}
aside button + button {
    margin-top: 15px;
}
/* -- ASIDE END -- */
/* ===== ASIDE END ===== */