/* ===== PAGE PROFILE DETAILS START ===== */
/* -- INNER START -- */
.inner {
    padding: 65px 0;
    background-image: url("../img/inner-bg.png");
    background-position: bottom;
}
.inner .inner-title {
    margin-bottom: 28px;
    color: #fff;
}
/* -- INNER END -- */
/* -- ASIDE START -- */
.about-author .aside-block .status {
    border: 1px solid #d5d5d5;
    padding: 8px 14px 8px 9px;
    font-size: 13px;
    color: #70838d;
    line-height: 9px;
}
.about-author .aside-block .status::before {
    display: block;
    content:'';
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #8bbe44;
    margin-right: 8px;
}
.about-author .aside-block .status.offline::before {
    background-color: #d4d4d4;
}
.about-author .social-nav a + a {
    margin-left: 7px;
}
.about-author .social-nav {
    margin-bottom: 27px;
}
.about-author button + button {
    margin-top: 15px;
}
/* -- ASIDE END -- */
/* -- CONTENT START -- */
.about-author .content-bg-border {
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 30px;
}
.about-author .author-banner {
    padding: 20px;
}
.about-author .author-info .author-info-item {
    padding: 24px 0 20px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.about-author .author-info .author-info-item + .author-info-item {
    border-left: 1px solid #dedede;
}
.about-author .author-info .author-info-item span {
    display: block;
}
.about-author .author-info .author-info-item-title {
    font-weight: 500;
    color: #263238;
    margin-bottom: 8px;
}
.about-author .author-skills {
    padding: 40px;
}
.about-author .author-skills .title-black {
    margin-bottom: 30px;
}
.about-author .author-skills .author-about-me {
    font-size: 15px;
    margin-bottom: 50px;
}
.about-author .author-skills .skill-name {
    font-size: 16px;
    margin-bottom: 17px;
}
.about-author .author-skills .skill-progress-wrapper {
    height: 15px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    background-color: #f4f4f4;
    margin-bottom: 24px;
}
.about-author .author-skills .progress {
    height: 15px;
    background:
            repeating-linear-gradient(45deg,
            #b5b5b5, #b5b5b5 15px, #cbcbcb 0, #cbcbcb 30px);
}
.about-author .author-skills .progress.progress-graphic-design {
    width: 80%;
}
.about-author .author-skills .progress.progress-wordpress {
    width: 90%;
}
.about-author .author-skills .progress.progress-joomla {
    width: 70%;
}
.about-author .mobile-aside-toggle .fa-bars {
    color: #263238;
    margin-right: 20px;
    font-size: 15px;
}
@media(max-width: 1199px) {
    .about-author .product-author-info span{
        margin-top: 10px;
    }
}
@media(max-width: 991px) {
    .about-author .mobile-aside .social-nav,
    .about-author .mobile-aside .product-author-flags{
        -ms-flex-pack: distribute !important;
            justify-content: space-around !important;
    }
    .about-author .mobile-aside .product-author-img {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
    .about-author .mobile-aside .product-author-info {
        -webkit-box-flex: 10;
            -ms-flex-positive: 10;
                flex-grow: 10;
    }
}
/*
    Адаптивный асайд требует наличия в разметке :

    1.  div.overlay - класса для темного фона
    2.  button.mobile-aside-toggle>i.fa-fa-bars - кнопки для открытия
    3.  класса "mobile-aside left\right" на асайде
*/
/* -- CONTENT END -- */
/* ===== PAGE PROFILE DETAILS END ===== */