/* === SETTING-PERSONAL-INFO START === */
.settings-page aside .aside-nav li .fa {
    position: unset; 
    top: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    margin: 0 22px;
}
.settings-page aside .aside-nav li a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}
#personal-info-menu li {
    border: 1px solid #dedede;
}
aside #personal-info-menu {
    margin: 0;
} 
#personal-info-menu li.active {
    border-bottom: 2px solid #8bc34a;
    font-weight: 500;
}   
#personal-info-menu li + li {
    border-top: 0;
}  
#personal-info-menu a {
    line-height: 3.57;
}  
.content-wrapper-body .form-group + .form-group {
    margin-top: 22px;
}
.personal-info-btn {
    margin-top: 27px;
}
/* -- @MEDIA START -- */
@media (max-width: 767px){
    .personal-info-btn .btn-custom{
        width: 100%;
    }
}
@media (max-width: 575px) {
    .settings-page .content-wrapper-title {
        border-top: none;
        text-align: center;
    }
    .settings-page .content-wrapper-body {
        padding-left: 10px;
        padding-right: 10px; 
        padding-top: 5px;
    }
    .settings-page .form-group{
        margin-bottom: 0;
    }
    .settings-page .content-wrapper-body .form-group + .form-group{
        margin-top: 5px;
    }
}
/* -- @MEDIA END -- */
/* === SETTING-PERSONAL-INFO END === */       
   