/* ===== PAGE UPLOAD PRODUCTS START ===== */
.products-upload .container{
    max-width: 1200px;
}
.products-upload .form-wrapper form{
    border: 1px solid #dfdfdf;
}
.products-upload .content-title-text{
    padding: 20px 33px;
    border-bottom: 1px solid #d7d7d7;
}
.products-upload .content-title-text h4{
    font-size: 24px;
    font-weight: 500;
    color: #263238;
}
.products-upload .upload-item{
    padding: 43px 50px 26px 40px; 
    overflow: hidden;
}
.products-upload label{
    position: relative;
}
.products-upload label sup {
    position: absolute;
    font-size: 24px;
    top: 0;
    left: 100%;
}
.products-upload .upload-item-pricing{
    padding-bottom: 21px;
}
.products-upload .submit-upload-item {
    padding-bottom: 67px;
    padding-left: calc(16.6666667% + 30px);
    padding-top: 0;
}
.products-upload .btn-custom{
    width: 124px;
}
/* -- MEDIA START -- */
@media (max-width: 991px){    
    .upload-products-page .inner {
        padding: 10px 0;
    }
    .upload-products-page .inner .inner-title {
        margin-bottom: 10px;
    }
    .upload-products-page .search-section {
        padding: 20px 0;
    }
    .upload-products-page .breadcrumb {
        padding: 10px 0;
    }
    .products-upload .col-form-label{
        padding-bottom: 0;
        padding-top: 0;
    }
    .products-upload .col-form-label label{
        margin-bottom: 1px;
    }
    .products-upload .submit-upload-item {
        padding-left: 40px;
    }
    .products-upload .btn-custom{
        width: 100%;
    }
}
@media (max-width: 768px){  
    .upload-products-page #main{
        padding-bottom: 50px;
    }
    .products-upload .content-title-text {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .upload-products-page .inner .title-white{
        font-size: 12px;
    }
    .upload-products-page .search-item {
        padding: 0 10px;
    }
    .upload-products-page .search-item form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }  
    .upload-products-page .search-item i{
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .upload-products-page .search-section .search-control {
        font-size: 12px;
        height: 35px;
    }
    .products-upload .upload-item{
        padding: 15px 10px; 
        overflow: hidden;
    }
    .products-upload .submit-upload-item{
        padding-top: 0;
    }
    .upload-products-page footer{
        padding-top: 45px;
    }
    .upload-products-page footer .footer-copyright span{
        margin-top: 45px;
    }
}
@media (max-width: 576px){  
    .upload-products-page .header-help-text{
        display: none !important;
    }
    .upload-products-page .header-controls{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .upload-products-page .search-section {
        padding: 10px 20px;
    }
    .upload-products-page .inner .inner-title{
        display: none;
    }
    .upload-products-page .inner{
        padding: 0;
    }
    .upload-products-page .breadcrumb {
        padding: 0;
    }
    .upload-products-page .breadcrumb-item{
        font-size: 12px;
    }
    .products-upload .content-title-text{
        text-align: center;
    }
    .products-upload .content-title-text h4{
        font-size: 18px;
    }
    .products-upload .content-title-text h3{
        font-size: 18px;
    }
}
/* -- MEDIA START END-- */
/* ===== PAGE UPLOAD PRODUCTS END ===== */