/* === WITHDRAWALS START === */
.withdraw-form label {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
}
.content-wrapper-body .form-group + .form-group {
    margin-top: 22px;
}
/* потом убрать, чтоб код не дублировался с css форм */
.form-group .sup {
    font-size: 24px; 
}
/* ********** */
.withdraw-form input {
    color: #707070;
}
.table {            
    font-size: 13px; 
    color: #444;
}
.table td, .table th { 
    border: none;
    height: 40px;
}
.withdraw-btn {
    margin-top: 35px;
    }
/* === WITHDRAWALS END === */