/* ===== CARDS START ===== */
.card {
    font-weight: 500;
    color: #263238;
    border: none;
    border-radius: 0;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.card:hover,
.small-card:hover {
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}
.card .product-top-info,
.aside-card {
    border-bottom: 1px solid #e7ecf2;
    justify-content: space-between;
}
.card .product-img,
.aside-card .product-img {
    overflow: hidden;
    background-color: #d4d4d4;
}
.card .product-img img,
.card .product-author-img img,
.aside-card .product-img img,
.aside-card .product-author-img img,
.small-card .product-img img {
    width: 100%;
    flex-shrink: 0;
}
.card .product-title {
    margin-bottom: 10px;
}
.card .product-category {
    color: #8bc34a;
    font-size: 14px;
}
.card .product-price {
    font-size: 20px;
    font-weight: 700;
}
.card .product-author {
    display: flex;
    align-items: center;
}
.card .product-author-img,
.aside-card .product-author-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
    flex-shrink: 0;
}
.card .product-sales-count::before,
.card .product-comments-count::before,
.card .product-likes-count::before {
    content: '(';
    color: #b0bec5;
}
.card .product-sales-count::after,
.card .product-comments-count::after,
.card .product-likes-count::after {
    content: ')';
    color: #b0bec5;
}
.card .product-comments,
.card .product-likes {
    flex-shrink: 0;
}
.card .product-comments::before,
.card .product-likes::before {
    content: '|';
    color: #aeb4bb;
}
.card .product-social-data,
.card .product-likes {
    margin-left: 30px;
}
.card .product-social-data {
    display: flex;
    padding-bottom: 2px;
    font-weight: 400;
}
.card .product-social-data .fa {
    margin: 0 15px;
    font-size: 16px;
    color: #8bc34a;
}
.card .product-comments-count,
.card .product-likes-count {
    font-size: 12px;
}
.card .product-hot-badge {
    display: none;
}
.card.hot .product-hot-badge {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    border-top: 64px solid #8bc34a;
    border-right: 64px solid transparent;
    z-index: 99;
}
.card.hot .product-hot-badge .fa {
    position: absolute;
    left: 14px;
    bottom: 34px;
    color: #fff;
}
.card .product-author{
    overflow: hidden;
}
/* -- LARGE CARDS START -- */
.card.large-card .product-img {
    height: 250px;
}
.card.large-card .product-top-info,
.card.large-card .product-bottom-info {
    padding-right: 30px;
    padding-left: 30px;
    /* justify-content: space-between; */
}
.card.large-card .product-top-info {
    padding-top: 30px;
    padding-bottom: 17px;
}
.card.large-card .product-bottom-info {
    padding-top: 17px;
    padding-bottom: 17px;
}
.card.large-card .product-title {
    font-size: 18px;
}
.card.large-card .product-rating .rating-stars {
    margin-right: 12px;
}
/* -- LARGE CARDS END -- */
/* -- MEDIUM CARDS START -- */
.card.medium-card .product-img {
    height: 180px;
}
.card.medium-card .product-top-info,
.card.medium-card .product-bottom-info {
    padding-right: 20px;
    padding-left: 20px;
}
.card.medium-card .product-top-info {
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    /* justify-content: space-between; */
}
.card.medium-card .product-bottom-info {
    padding-top: 15px;
    padding-bottom: 15px;
}
.card.medium-card .product-title,
.card.medium-card .product-category,
.card.medium-card .product-author-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* .card.medium-card .product-title,
.card.medium-card .product-category {
    max-width: 170px;
} */
.card.medium-card .product-title {
    font-size: 16px;
}
.card.medium-card .product-author {
    display: flex;
    align-items: center;
}
.card.medium-card .product-author-name {
    overflow: hidden;
}
.card.medium-card .product-description,
.card.medium-card .product-sales,
.card.medium-card .product-social-data {
    display: none;
}
.card.medium-card .product-description-wrapper{
    overflow: hidden;
}
.card.medium-card .product-bottom-info .product-rating {
    padding-left: 15px;
}
/* -- MEDIUM CARDS END -- */
/* -- ROW CARDS START -- */
.card.medium-card.row-card {
    flex-direction: row;
    align-items: stretch;
}
.card.medium-card.row-card .product-img {
    width: 25%;
}
.card.medium-card.row-card .product-top-info,
.card.medium-card.row-card .product-bottom-info {
    padding-left: 32px;
    padding-right: 32px;
}
.card.medium-card.row-card .product-top-info {
    align-items: stretch;
    padding-bottom: 20px;
    /* justify-content: space-between; */
}
.card.medium-card.row-card .product-bottom-info {
    padding-top: 15px;
    padding-bottom: 15px;
}
.card.medium-card.row-card .product-description-wrapper {
    overflow: hidden;
    flex-shrink: 1;
}
.card.medium-card.row-card .product-info-wrapper {
    width: 75%;
}
.card.medium-card.row-card .product-description {
    margin-top: 20px;
    color: #70838d;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card.medium-card.row-card .product-price-wrapper {
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 25px;
}
.card.medium-card.row-card .product-sales {
    font-size: 13px;
    color: #aeb4bb;
    white-space: nowrap;
}
.card.medium-card.row-card .product-author-name {
    max-width: unset;
}
.card.medium-card.row-card .product-description,
.card.medium-card.row-card .product-sales {
    display: block;
}
.card.medium-card.row-card .product-social-data {
    display: flex;
    flex-shrink: 0;
}
.card.medium-card .product-description-wrapper .product-price-wrapper {             margin-left: 15px;
}
/* -- ROW CARDS END -- */
/* -- ASIDE CARDS START -- */
.aside-card {
    font-weight: 500;
    color: #263238;
    padding-bottom: 27px;
    margin-top: 25px;
}
.aside-card:last-child {
    padding-bottom: 0;
    border: none;
}
.aside-card .product-img {
    display: block;
    height: 120px;
    overflow: hidden;
}
.aside-card .product-info-wrapper {
    margin-top: 20px;
}
.aside-card .product-top-info {
    margin-bottom: 17px;
    justify-content: space-between;
}
.aside-card .product-top-info .product-description-wrapper {
    max-width: 135px;
    overflow: hidden;
    flex-shrink: 1;
}
.aside-card .product-top-info .product-title,
.aside-card .product-bottom-info .product-author-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.aside-card .product-top-info .product-title,
.aside-card .product-top-info .product-price {
    font-size: 16px;
    font-weight: 700;
}
.aside-card .product-top-info .product-title {
    margin-bottom: 10px;
}
.aside-card .product-top-info .product-price {
    margin-top: 5px;
}
.aside-card .product-top-info .product-category {
    color: #8bc34a;
}
.aside-card .product-bottom-info .product-author {
    max-width: 120px;
}
.aside-card .product-bottom-info .product-author-name {
    color: #546e7a;
}
/* -- ASIDE CARDS END -- */
/* -- SMALL CARDS START -- */
.small-card {
    display: flex;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.small-card .product-img {
    display: block;
    height: 120px;
    max-width: 100px;
    overflow: hidden;
}
.small-card .product-info {
    padding: 18px 20px 8px 20px;
}
.small-card .product-info .product-title {
    margin-bottom: 10px;
}
.small-card .product-info .product-category {
    font-size: 12px;
    color: #8bc34a;
    margin-bottom: 8px;
}
.small-card .product-info .product-price {
    font-size: 18px;
}
@media(max-width: 1200px) {
    .card.medium-card .product-top-info,
    .card.medium-card .product-bottom-info {
        padding-left: 10px;
        padding-right: 10px;
    }
    .card.medium-card.row-card .product-top-info, 
    .card.medium-card.row-card .product-bottom-info {
            padding-left: 20px;
            padding-right: 20px;
    }
    .aside-card .product-bottom-info .product-author-name {
        display: none;
    }
}
@media(max-width: 991px) {
    .card.medium-card .product-top-info {
        padding-left: 25px;
    }
    .all-items {
        padding-top: 80px;
    }
}
@media(max-width: 767px) {
.card .product-social-data .fa{
    margin: 0 5px;
}
.card .product-social-data, .card .product-likes{
    margin-left: 10px;
}
}
@media(max-width: 576px) {
    .card.medium-card.row-card .product-social-data {
        display: none;
    }
    .card.medium-card .product-rating .rating-count {  
        display:none;
    }
}
/* -- SMALL CARDS END -- */
/* ===== CARDS END ===== */