
/* ===== COMMON COMPONENTS START ===== */
/* -- PRODUCT RATING START -- */
.product-rating {
    font-size: 12px;
}
.product-rating .rating-stars {
    color: #b5b5b5;
}
.product-rating .rating-stars li + li {
    margin-left: 2px;
}
.product-rating .rating-stars .fa.active {
    color: #ffa726;
}
.product-rating .rating-count {
    margin-left: 7px;
    font-weight: 400;
}
.product-rating .rating-count::before {
    content: '(';
    color: #b0bec5;
}
.product-rating .rating-count::after {
    content: ')';
    color: #b0bec5;
}
/* -- PRODUCT RATING END -- */
/* -- SEARCH START -- */
.search-item { 
	max-width: 670px;
}
.search-section .search-control {
	font-size: 14px;
	font-weight: 500;
    line-height: 1;
	letter-spacing: 0.05em;
	padding: 0 50px 0 25px;
	height: 55px;
	border-radius: 3px;
	width: 100%;
}
.search-section form:hover .search-control{
	box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
}
.search-section .search-control::-webkit-input-placeholder,
.search-section .search-control::-moz-placeholder,
.search-section .search-control:-moz-placeholder,
.search-section .search-control:-ms-input-placeholder {
    color:#90a4ae;
}
.search-item {
	position: relative;
	margin: auto;
}
.search-item i {
	position: absolute;
	top: 20%;
    transform: translateY(50%);
	right: 20px;
	font-size: 18px;
	color: #78909c;
}
/* -- SEARCH END -- */
/* -- SELECT START -- */
#regular-btn,
.dropdown-regular .dropdown-item {
    border: 1px solid #d3d3d3;
    font-size: 13px;
    color: #70838d;
    line-height: 2.3;
    padding: 0 10px;
    background-color: #fff;
    font-weight: 400;
}
#regular-btn .fa-caret-down {
    color: #8bc34a;
    margin-left: 9px;
}
.dropdown-regular .dropdown-item {
    border: none;
}
.dropdown-regular .dropdown-item:hover {
    background-color: #f4f6f5;
}
/* -- SELECT END -- */
/* -- TABS START -- */
.tabs {
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.tabs .navbar {
    padding: 0;
}
.tabs .navbar ul {
    width: 100%;
}
.tabs .navbar li {
    flex-grow: 1;
    color: #70838d;
    border-bottom: 1px solid #d7d7d7;
}
.tabs .navbar a {
    display: block;
    padding: 23px 15px;
    font-size: 16px;
}
.tabs .navbar li + li {
    border-left: 1px solid #d7d7d7;
}
.tabs .navbar li.ui-state-active,
.tabs .navbar li.ui-state-hover {
    color: #263238;
}
.tabs .navbar li.ui-state-active::after,
.tabs .navbar li.ui-state-hover::after {
     content: '';
     display: block;
     width: 100%;
     border-bottom: 3px solid #8bc34a;
}
.tabs .tab-item {
    padding: 35px;
}
.tabs .tab-item ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 250px;
}
.tabs .tab-item i.fa-chevron-right {
    margin-right: 13px;
}
.tabs .tab-item ul li {
    margin-bottom: 25px;
}
@media(max-width: 1199px) {
    .tabs .tab-item ul li {
        font-size: 12px;
    }
}
@media(max-width: 991px) {
    .tabs .tab-item ul {
        max-height: 350px;
    }
}
@media(max-width: 767px) {
    .tabs .navbar a {
        font-size: 14px;
        padding: 20px 15px;
    }
    .tabs .tab-item {
        padding: 15px;
    }

    .tabs .tab-item ul {
        max-height: max-content;
    }

    .tabs .tab-item ul li {
        margin-bottom: 10px;
    }
}
@media(max-width: 575px) {
    .tabs .navbar li {
        width: 100%;
    }
    .tabs .navbar a {
        padding: 10px 15px;
    }
}
/* -- TABS END -- */
.animate {
    transition: all .2s ease-out;
}
/* ===== OTHER COMPONENTS END ===== */
