
/* ===== COMMON COMPONENTS START ===== */
/* -- PRODUCT RATING START -- */
.product-rating {
    font-size: 12px;
}
.product-rating .rating-stars {
    color: #b5b5b5;
    margin-right: 7px;
}
.product-rating .rating-stars li + li {
    margin-left: 2px;
}
.product-rating .rating-stars .fa.active {
    color: #ffa726;
}
.product-rating .rating-count {
    font-weight: 400;
}
.product-rating .rating-count::before {
    content: '(';
    color: #b0bec5;
}
.product-rating .rating-count::after {
    content: ')';
    color: #b0bec5;
}
/* -- PRODUCT RATING END -- */
/* -- SEARCH START -- */
.search-item { 
	max-width: 670px;
}
.search-section .search-control {
	font-size: 14px;
	font-weight: 500;
    line-height: 1;
	letter-spacing: 0.05em;
	padding: 0 50px 0 25px;
	height: 55px;
	border-radius: 3px;
	width: 100%;
}
.search-section form:hover .search-control{
	box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
}
.search-section .search-control::-webkit-input-placeholder,
.search-section .search-control::-moz-placeholder,
.search-section .search-control:-moz-placeholder,
.search-section .search-control:-ms-input-placeholder {
    color:#90a4ae;
}
.search-item {
	position: relative;
	margin: auto;
}
.search-item i {
	position: absolute;
	top: 20%;
    transform: translateY(50%);
	right: 20px;
	font-size: 18px;
	color: #78909c;
}
/* -- SEARCH END -- */
/* -- SELECT START -- */
form.select-form {
    position: relative;
    display: inline-block;
}
form.select-form select {
    font-size: 13px;
    line-height: 2.3;
    color: #70838d;
    padding: 0 28px 0 10px;
    margin-bottom: 0;
    appearance: none;
}
form.select-form:after {
    content: "▼";
    font-size: 11px;
    position: absolute;
    right: 12px;
    color: #8bc34a;
    top: 11px;
}
form.select-form select option {
    border: 1px solid #d3d3d3;
}
/* -- SELECT END -- */
/* ===== OTHER COMPONENTS END ===== */
