/* ===== DEFAULT-SECTION START ===== */
.default-section {
    padding: 115px 0;
}
.bg-black {
    background-color: #263238;
}
.bg-grey {
    background-color: #f4f6f5;
}
.bg-white {
    background-color: #fff;
}
/* ===== DEFAULT-SECTION END ===== */