/* ===== FOOTER START ===== */
footer {
    padding-top: 115px;
    background-color: #263238;
}
footer .footer-title {
    font-weight: 700;
    color: #ffffff;
    font-size: 22px;
}
footer .footer-title::after {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 3px solid #8bc34a;
    margin: 30px 0;
}
footer .row p {
    font-size: 15px;
    line-height: 1.6;
    color: #b7c3c8;
    margin-bottom: 35px;
}
footer .footer-contacts i.fa {
    font-size: 18px;
    margin-right: 20px;
    line-height: 1.4;
}
/* spans are in contacts (addres and phone) and 'newsletter sign up' is span */
footer span {
    display: block;
    font-family: 'latosemibold';
    color: #fff;
    line-height: 1.4;
}
footer .d-flex + .d-flex {
    margin-top: 20px;
}
footer .footer-copyright span{
    font-family: 'Roboto';
    margin-top: 100px;
    border-top: 1px solid #424d53;
    padding: 25px 0 35px 0;
}
footer .footer-nav a {
    color: #b7c3c8;
}
footer .footer-nav a:hover {
    color: #fff;
}
footer .footer-nav a + a {
    margin-top: 15px;
}
footer .footer-social-nav a + a {
    margin-left: 5px;
}
footer .subscribe-text {
    font-size: 20px;
    line-height: 1.8;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}
footer .footer-form {
    padding: 1px;
    background-image: linear-gradient(to bottom, #000 0%, #263238 100%), linear-gradient(to bottom, #000 0%, #263238 100%);
}
footer .footer-form-control {
    height: 40px;
    padding: 0 15px;
    line-height: 1;
    color: #fff;
    background-color: #2f3c43;
}
footer .footer-form .btn-custom {
    height: 40px;
}
footer .footer-form .btn-custom .fa {
    font-size: 20px;
    margin-left: 12px;
    margin-right: 12px;
}
/* ===== FOOTER END ===== */