/* ===== HEADER START ===== */
header .top-header {
    background-color: #fff;
}
.top-header .dropdown-container{
    /* Добавил для дропдаунов. МК */
    height: 91px;
}
header .top-header .header-help-text {
    font-size: 15px;
}
header .top-header span.header-red-text {
    color: #e74c3c;
}
header .top-header .header-number {
    color: #546e7a;
    margin-right: 25px;
}
header .buttons-in-drop {
    margin-left: -10px;
}
header .buttons-in-drop .btn-custom {
    border-radius: 0;
    margin-top: 20px;
    width: 50%;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
}
header .btn-green {
    margin-right: 7px;
}
header .bottom-header {
    background-color: #263238;
}
header .header-nav {
    margin-left: -16px;
}
header .bottom-header a {
    display: inline-block;
    padding: 25px 16px;
    font-weight: 500;
    color: #fff;
}
header .bottom-header a:hover {
    color: #e74c3c;
}
/* -- header before login .header-out -- */
header .header-out .dropdown .badge-value.bg-green {
    background-color: #e74c3c;
}
header .header-out .dropdown {
    margin-right: 25px;
}
header .header-in .dropdown {
    margin-right: 10px;
}
/* -- header after login .header-in -- */
header .header-in .dropdown.dropdown-profile {
    margin: 0 30px 0 5px;
}
header .header-in .dropdown.dropdown-profile .cart-info span {
    display: block;
}

@media(max-width: 991px) {
    header .top-header {
        padding-top: 15px;
    }
    header .bottom-header .header-nav {
        margin-left: auto;
    }
    header .bottom-header a {
        display: block;
        text-align: right;
        width: 100%;
        padding:10px 0;
    }
    header .header-controls {
        width: 100%;
    }
    header .header-in .header-help-text {
        font-size: 13px;
    }
}
@media(max-width: 767px) {
    header .top-header .header-help-text {
        font-size: 13px;
    }
    header .header-controls {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    header .header-help-text {
        margin-top:10px;
        width: 100%;
    }
    header .container {
        padding: 0 30px;
    }
}
@media(max-width: 575px) {
    header .header-help-text {
        flex-direction: column;
        margin: 10px 0;
    }
    header .header-controls .btn-custom {
        margin-bottom: 10px;
    }
}
@media(max-width: 320px) {
    header .buttons-in-drop .btn-custom {
        width: 100%;
    }
}
/* ===== HEADER END ===== */