/* ===== HEADER START ===== */
header .top-header {
    padding: 28px 0 26px 0;
    background-color: #fff;
}
header .top-header .header-help-text {
    font-size: 15px;
}
header .top-header span.header-red-text {
    color: #e74c3c;
}
header .top-header .header-number {
    color: #546e7a;
    margin-right: 25px;
}
header .buttons-in-drop {
    margin-left: -10px;
}
header .buttons-in-drop .btn-custom {
    border-radius: 0;
    margin-top: 20px;
    width: 50%;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
}
header .btn-green {
    margin-right: 7px;
}
header .bottom-header {
    background-color: #263238;
}
header .bottom-header a {
    display: inline-block;
    padding: 25px 16px;
    font-weight: 500;
    color: #fff;
}
header .bottom-header a:hover {
    color: #e74c3c;
}
/* -- header before login .header-out -- */
header .header-out .dropdown .badge-value.bg-green {
    background-color: #e74c3c;
}
header .header-out .dropdown {
    margin-right: 25px;
}
header .header-in .dropdown {
    margin-right: 10px;
}
/* -- header after login .header-in -- */
header .header-in .dropdown.dropdown-profile {
    margin: 0 30px 0 5px;
}
/* ===== HEADER END ===== */