/* ===== TAGS START ===== */
.tags-nav a {
    font-weight: 500;
    background-color: #fff;
    color: #263238;
    line-height: 4.28;
    padding: 10px 20px;
    margin: 0 3px;
}
.tags-nav a:focus,
.tags-nav a:hover,
.tags-nav a.active,
.dropdown-list a:hover,
.tags-nav a.active {
    background-color: #e74c3c;
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
}
.mobile-list-wrap {
    display: none;
}
.mobile-list {
    font-weight: 500;
    background-color: #fff;
    color: #263238;
    width: 100%;
}
.mobile-list .current {
    padding: 15px 30px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}
.dropdown-list a {
    padding: 10px 15px;
    width: 100%;
}
@media(max-width: 767px) {
    .mobile-list-wrap {
        display: flex;
        margin-bottom: 50px;
    }
    .mobile-list .current .fa-close {
        display: none;
    }
    .mobile-list .current.selected .fa-close {
        display: block;
    }
    .mobile-list .current.selected .fa-chevron-down {
        display: none;
    }
    .dropdown-list {
        display: none;
        background-color: #fff;
    }
}
/* ===== TAGS END ===== */
