/* ===== TEXT START ===== */
/*
.default-text - используется в img: 03 (header, choose, footer), 10, 25, 28
Цвет текста используется в img: 10, 25, 28
.text-darkgray - 03 (header(рядом с красным), карточки товаров(нижний текст), 04, 05
.text-dark - 03 (заголовки, карточки товаров), 04, 05... заголовки на страницах 
.bg-dark - 03 (header, choose, footer), 04, 05,  08 - 10 (btn)
.bg-red - 03 (slick, btn), 08 (btn, price), 09 (btn, price)
.bg-yellow, .bg-orange - header
.bg-blue - 08(btn), 09(btn)
если есть лишнее убрерите, а то заставь дурака Богу молиться и лоб разобьет :)
*/
.default-text {
    line-height: 1.6;
    color: #707070;
}
.copyright-text {
    font-size: 15px;
    line-height: 2.4;
    color: #919699;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-uppercase {
	text-transform: uppercase;
}


/* ===== TEXT END ===== */

