/* ===== RESET START ===== */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    margin: 0;
    font: 400 14px/1 'Roboto', sans-serif;
    color: #263238;
    background-color: #f4f6f5;
}
body.overflow {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p, blockquote {
    margin: 0;
}
a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 0;
}
img {
    max-width: 100%;
}
input {
    width: 100%;
}
input,
textarea,
button,
input:focus,
textarea:focus,
button:focus {
    outline: none;
}
input,
textarea,
input:focus,
textarea:focus {
    border: none;
}
input[type="submit"] {
    cursor: pointer;
}
textarea {
    resize: vertical;
}
button {
    cursor: pointer;
    background-color: transparent;
    border:none;
}
/* ===== RESET END ===== */
/* ===== RESET BOOTSTRAP START ===== */
.card-title {
    margin-bottom: 0;
}
.card-img {
    width: unset;
    border-radius: unset;
}
.breadcrumb {
    background: none;
    margin-bottom: 0;
}
/* -- FORM ELEMENTS START -- */
.form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.form-control,
.btn {
    border: none;
    border-radius: 0;
    line-height: 1;
}
.btn.focus, 
.btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
/* -- FORM ELEMENTS END -- */
/* -- PAGINATION START -- */
.pagination .page-link {
    border:none;
}
.pagination .active .page-link {
    border: none;
}
.page-item:first-child .page-link {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.page-item:last-child .page-link {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
/* -- PAGINATION END -- */
/* -- DROPDOWN RESET START -- */
a:hover{
    color: inherit;
}
.dropdown-menu.show.dropdown-regular {
    -webkit-transform: translate3d(0px, 16px, 0px) !important;
            transform: translate3d(0px, 16px, 0px) !important;
    top: 12px !important;
    left: 0px !important;
    will-change: transform;
    min-width: auto;
    padding: 0;
}
.dropdown .dropdown-toggle.btn,
.dropdown .dropdown-toggle.btn.active.focus,
.dropdown .dropdown-toggle.btn.active:focus,
.dropdown .dropdown-toggle.btn.focus,
.dropdown .dropdown-toggle.btn.focus:active,
.dropdown .dropdown-toggle.btn:active:focus,
.dropdown .dropdown-toggle.btn:focus,
.dropdown-cart .dropdown-menu .dropdown-item .item-checkout .checkout-nav .btn{
    outline: 0;
    outline-offset: 0;
    background-image: inherit;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
    border: inherit;
    border-radius: 0;
}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active{
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}
.dropdown-menu .dropdown-item.items-checkout .checkout-nav .btn:hover{
    background-color: inherit;
}
.dropdown .btn.dropdown-toggle{
    padding: 0px;
    border: 0px;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: inherit; 
    text-decoration: inherit;
}
/* -- DROPDOWN RESET END -- */
/* ===== RESET BOOTSTRAP END ===== */
/* ===== Sprite icon reset start ===== */
.icon {
    display: inline-block;
}
/* ===== Sprite icon reset end ===== */