/* === PAGE PRODUCT-DETAILS START === */

.product-details {
    margin-bottom: 153px;
}
.product-details .product-details-item + .product-details-item {
    margin-top: 54px;
}
.product-details .product-details-item-1 {
    margin-top: 28px;
}
.small-card {
    margin-top: 28px;
}
.product-details-bordered {
    border: 1px solid #dfdfdf;
    padding: 18px 21px;
}
.product-details-info {
    margin-top: 43px;
}
.product-details-info-card {
    width: 100%;
    background-color: #fff;
}
.product-details-info p {
    margin-top: 32px;
}
.product-details-info .product-details-action {
    margin-top: 50px;
}
.buttons {
    display: flex;
}
.product-details-action {
    display: flex;
    justify-content: space-between;
}

.product-details-action .btn-custom {
    margin-right: 17px;
}
.product-details i + i {
    margin-left: 4px;
}
.mobile-aside-toggle {
    display: none;
}
@media(max-width: 1199px) {
    .product-details-action {
        flex-flow:column wrap;
    }
    .social {
        margin-top: 20px;
    }
    .buttons {
        width: 100%;
        justify-content: space-between;
    }
    .aside-product-price {
        flex-direction: column;
    }
    .product-price-variant {
        margin: auto;
        margin-top: 10px;
    }
    .product-author-flags {
        flex-wrap: wrap;
    }
}
 @media(max-width: 991px) {
    .mobile-aside-toggle {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .aside-product-price {
        flex-direction: row;
    }
    .product-price-variant {
        margin: 0 0 0 auto;
       
    }
}
@media(max-width:768px) {
    .buttons {
        flex-flow:column wrap;
    }  
    .product-details .btn-custom {
        margin-bottom: 15px;
    } 
}
/* === PAGE PRODUCT-DETAILS END === */