/* === PAGE PRODUCT-DETAILS START === */
.product-details {
    margin-bottom: 153px;
}
.product-details .product-details-item + .product-details-item {
    margin-top: 54px;
}
.product-details .product-details-item-1 {
    margin-top: 28px;
    /* margin-left: -15px; */
}
.product-details-bordered {
    border: 1px solid #dfdfdf;
    padding: 18px 21px;
}
.product-details-info {
    margin-top: 43px;
}
.product-details-info-card {
    width: 100%;
    /* margin-left: -15px; */
    /* margin-right: -15px; */
}
.product-details-info p {
    margin-top: 32px;
}
.product-details-info .product-details-action {
    margin-top: 50px;
}
.product-details .buttons {
   float: left;
   /* margin-left: 15px; */
}
.product-details .social {
    float: right;
    /* margin-right: 15px; */
 }
.buttons button + button {
    margin-left: 17px;
}
.product-details i + i {
    margin-left: 4px;
}
/* .product-details-item {
    margin-right: 15px;
    margin-left: 15px;
} */
/* === PAGE PRODUCT-DETAILS END === */