/* === PAGE SETTING-PERSONAL-INFO START === */
.personal-info {
    margin-bottom: 155px;
}
.content-wrapper-body .form-group + .form-group {
    margin-top: 22px;
}
.personal-info-btn {
    margin-top: 27px;
}
/* === PAGE SETTING-PERSONAL-INFO END === */       
   