/* === PAGE WITHDRAWALS START === */
.withdraw-form label {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
}
.content-wrapper-body .form-group + .form-group {
    margin-top: 22px;
}
.withdraw {
    margin-bottom: 153px;
}
.withdraw-form {
    padding: 0 15px;
}
/* потом убрать, чтоб код не дублировался с css форм */
.withdraw-form.form-group .sup {
    font-size: 24px; 
}
/* ********** */
.withdraw-form input {
    color: #707070;
}
.withdraw .table {            
    font-size: 13px; 
    color: #444;
}
.table td, .table th { 
    border: none;
    height: 40px;
}
.withdraw-btn {
    margin-top: 35px;
    }
 .withdraw-info  .content-wrapper-bordered {
   margin-bottom: 15px;
}
@media(max-width: 991px) {
    .withdraw-info {
        flex-direction: column;
        margin-top: 20px;
    }   
}
@media(max-width: 320px) {
    .withdraw .content-wrapper-body {            
        padding: 30px 5px;
    }
    .withdraw .table {            
        font-size: 10px; 
    }     
}
/* === PAGE WITHDRAWALS END === */