/* ===== ASIDE START ===== */
/* -- ASIDE BLOCK START -- */
aside .aside-block {
    background-color: #fff;
    padding: 28px 30px;
    margin-bottom: 30px;
    border: 1px solid #dedede;
}
aside .aside-block .aside-block-title {
    padding-bottom: 22px;
    border-bottom: 1px solid #dde3e8;
}
/* -- ASIDE BLOCK END -- */
/* -- ASIDE INBLOCK NAV START -- */
aside .aside-nav {
    margin-top: 15px;
    font-size: 14px;
    background-color: #fff;
}
aside .aside-nav li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* В финале поменять hover на класс .active */
aside .aside-nav li:hover a {
    color: #8bc34a;
}
aside .aside-nav li a {
    position: relative;
    display: block;
    padding: 12px 0 12px 20px;
    width: 100%;
}
aside .aside-nav li .fa {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 9px;
    color: #8bc34a;
    -webkit-transform: translateY(-51%);
            transform: translateY(-51%);
}
aside .aside-nav .category-count {
    color: #90a4ae;
    margin-left: 10px;
    cursor: default;
}
aside .aside-nav .category-count::before {
    content: '(';
}
aside .aside-nav .category-count::after {
    content: ')';
}
/* -- ASIDE INBLOCK NAV END -- */
/* -- ASIDE BLOCK NAV START -- */
aside .aside-nav.block-nav {
    color: #707070;
    margin-top: 30px;
    border: 1px solid #dedede;
}
aside .aside-nav.block-nav li {
    border-bottom: 1px solid #dedede;
}
aside .aside-nav.block-nav li:last-child {
    border-bottom: none;
}
/* В финале поменять hover на класс .active */
aside .aside-nav.block-nav li:hover {
    color: #263238;
}
/* В финале поменять hover на класс .active */
aside .aside-nav.block-nav li:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #8bc34a;
}
/* В финале поменять hover на класс .active */
aside .aside-nav.block-nav li:hover .fa {
    color: #8bc34a;
}
aside .aside-nav.block-nav li a {
    padding: 16px 50px;
}
aside .aside-nav.block-nav li .fa {
    color: #d0d0d0;
    left: 22px;
}
aside .aside-nav.block-nav .data-count {
    margin-left: 5px;
}
aside .aside-nav.block-nav .data-count.disabled {
    display: none;
}
aside .aside-nav.block-nav .data-count::before {
    content: '(';
}
aside .aside-nav.block-nav .data-count::after {
    content: ')';
}
/* -- ASIDE BLOCK NAV END -- */
/* -- ASIDE PRODUCT PRICE START -- */
aside .aside-product-price {
    margin: 25px 0;
}
aside .aside-product-price .product-price-value {
    font-size: 22px;
    color: #e74c3c;
}
aside .aside-product-price-buttons .btn-custom + .btn-custom {
    margin-top: 8px;
}
/* -- ASIDE PRODUCT PRICE END -- */
/* -- ASIDE PRODUCT AUTHOR START -- */
aside .aside-product-author {
    margin-top: 25px;
}
aside .aside-product-author .product-author-img {
    margin-right: 14px;
}
aside .aside-product-author .product-author-name {
    font-size: 18px;
}
aside .aside-product-author .product-author-flags {
    width: 100%;
    margin-top: 24px;
}
/* -- ASIDE PRODUCT AUTHOR START -- */
/* -- ASIDE PRODUCT SALES START -- */
aside .aside-product-sales .fa {
    font-size: 20px;
    color: #a6b5bb;
    margin-right: 20px;
}
aside .aside-product-sales .sales-count {
    font-size: 20px;
    margin-right: 14px;
}
aside .aside-product-sales .sales-text {
    font-size: 16px;
    color: #707070;
}
/* -- ASIDE PRODUCT SALES END -- */
/* -- ASIDE PRODUCT INFO START -- */
aside .aside-product-info {
    margin-top: 25px;
    line-height: 1.8;
}
aside .aside-product-info .product-info-item + .product-info-item {
    margin-top: 10px;
}
aside .aside-product-info .product-info-name {
    font-weight: 500;
}
aside .aside-product-info .product-info-value {
    color: #70838d;
}
/* -- ASIDE PRODUCT INFO END -- */
/* -- MEDIAQUERIES START -- */
@media(max-width: 991px) {
    .mobile-aside {
        position: fixed;
        top:15px;
        left:0;
        overflow-y: auto;
        height: 100vh;
        z-index: 999;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
    .mobile-aside.left {
        -webkit-transform: translateX(-110%);
                transform: translateX(-110%);
    }
    .mobile-aside.right {
        left: auto;
        -webkit-transform: translateX(110%);
                transform: translateX(110%);
        right: 20px;
    }
    .overlay {
        position: fixed;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.4);
        z-index: -1;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        opacity: 0;
    }
    #main.show-aside .mobile-aside.left,
    #main.show-aside .mobile-aside.right {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    #main.show-aside .overlay {
        opacity: 1;
        z-index: 998;
    }
}
/*
    Адаптивный асайд требует наличия в разметке :

    1.  div.overlay - класса для темного фона
    2.  button.mobile-aside-toggle>i.fa-fa-bars - кнопки для открытия
    3.  класса "mobile-aside left\right" на асайде
*/

/* -- MEDIAQUERIES END -- */
/* ===== ASIDE END ===== */