/* ===== ASIDE START ===== */
/* -- ASIDE CARD START -- */
.aside-block {
    background-color: #fff;
    padding: 28px 30px;
    margin-bottom: 30px;
    border: 1px solid #dedede;
}
.aside-block .aside-block-title {
    padding-bottom: 22px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dde3e8;
}
/* -- ASIDE CARD END -- */
/* -- ASIDE INBLOCK NAV START -- */
.aside-nav {
    font-size: 14px;
    background-color: #fff;
}
.aside-nav li {
    position: relative;
}
/* В финале поменять hover на класс .active */
.aside-nav li:hover {
    color: #8bc34a;
}
.aside-nav li a {
    position: relative;
    display: block;
    padding: 12px 50px;
}
.aside-nav li .fa {
    position: absolute;
    top: 50%;
    left: 22px;
    font-size: 9px;
    color: #8bc34a;
    -webkit-transform: translateY(-51%);
            transform: translateY(-51%);
}
/* -- ASIDE INBLOCK NAV END -- */
/* -- ASIDE BLOCK NAV START -- */
.aside-nav.block-nav {
    color: #707070;
    margin-top: 30px;
    border: 1px solid #dedede;
}
.aside-nav.block-nav li {
    border-bottom: 1px solid #dedede;
}
.aside-nav.block-nav li:last-child {
    border-bottom: none;
}
/* В финале поменять hover на класс .active */
.aside-nav.block-nav li:hover {
    color: #263238;
}
/* В финале поменять hover на класс .active */
.aside-nav.block-nav li:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #8bc34a;
}
/* В финале поменять hover на класс .active */
.aside-nav.block-nav li:hover .fa {
    color: #8bc34a;
}
.aside-nav.block-nav li a {
    padding: 16px 50px;
}
.aside-nav.block-nav li .fa {
    color: #d0d0d0;
}
/* -- ASIDE BLOCK NAV END -- */
/* -- ASIDE PRODUCT PRICE START -- */
.aside-product-price {
    padding: 15px 0;
    margin-bottom: 15px;
}
.aside-product-price .product-price-value {
    font-size: 22px;
    color: #e74c3c;
}
.aside-product-price-buttons .btn-custom + .btn-custom {
    margin-top: 8px;
}
/* -- ASIDE PRODUCT PRICE END -- */
/* -- ASIDE PRODUCT AUTHOR START -- */

/* -- ASIDE PRODUCT AUTHOR START -- */
/* -- ASIDE PRODUCT INFO START -- */
.aside-product-info {
    line-height: 1.8;
}
.aside-product-info .product-info-item + .product-info-item {
    margin-top: 10px;
}
.aside-product-info .product-info-name {
    font-weight: 500;
}
.aside-product-info .product-info-value {
    color: #70838d;
}
/* -- ASIDE PRODUCT INFO END -- */
/* ===== ASIDE END ===== */