/* ===== BUTTONS START ===== */
.btn-custom{
    display: inline-block;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 0;
    color: #fff;
    border: 2px solid transparent;
}
.btn-radius{
    border-radius: 4px;
}
.btn-sm{
    padding: 10px 15px;
}
.btn-wide{
    padding: 15px 60px;
}
.btn-md{
    padding: 20px 30px;
}
.btn-lg{
    padding: 25px 40px;
}
.btn-green{
    background-color: #8bc34a;
}
.btn-red{
    background-color: #e74c3c;
}
.btn-white{
    color: #263238;
    background-color: #fff;
}
.btn-blue{
    background-color: #42a5f5;
}
.btn-darkblue{
    background-color: #546e7a;
}
.btn-border-grey{
    border: 2px solid #d6d6d6;
    color: #707070;
}
.btn-darkgreen{
    background-color: #76ae36;
}
.btn-border-white {
    border: 3px solid #fff;
    color: #fff;
}
.btn-shadow-submit{
    -webkit-box-shadow: 0px 3px 3px 0px rgba(118, 174, 54, .75);
            box-shadow: 0px 3px 3px 0px rgba(118, 174, 54, .75);
}
.btn-shadow{
    -webkit-box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, .75);
            box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, .75);
}
/* ===== BUTTONS END ===== */
