/* === DEFAULT COLOR START === */
.bg-green{
    background-color: #8bc34a;
}
.bg-darkblue {
    background-color: #263238;
}
.bg-red {
    background-color: #e74c3c;
}
.bg-white {
    background-color: #fff;
}
.bg-grey {
    background-color: #f4f6f5;
}
.text-green,
.text-green-hover:hover {
    color: #8bc34a;
}
.text-white {
    color: #fff;
}
.text-darkblue {
    color: #263238;
}
/* ???? */
.text-darkgray {
    color: #546e7a;
}
.text-black {
    color: #000 !important;
}
.text-lightgray {
    color: #707070;
}
/* === DEFAULT COLOR END === */