/* ===== DROPDOWN START ===== */
/* ----- DROPDOWN RESET START ----- */
.dropdown .dropdown-toggle.btn,
.dropdown .dropdown-toggle.btn.active.focus,
.dropdown .dropdown-toggle.btn.active:focus,
.dropdown .dropdown-toggle.btn.focus,
.dropdown .dropdown-toggle.btn.focus:active,
.dropdown .dropdown-toggle.btn:active:focus,
.dropdown .dropdown-toggle.btn:focus,
.dropdown-menu .dropdown-item.items-checkout .checkout-nav .btn{
    outline: 0;
    outline-offset: 0;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: inital;
    border: none;
    border-radius: 0;
}
.dropdown-menu .dropdown-item.items-checkout .checkout-nav .btn:hover{
    background-color: initial;
}
.dropdown .btn.dropdown-toggle{
    padding: 2px;
    border: 0px;
}
.dropdown .btn.dropdown-toggle::after{
    display: none;
}
/* ----- DROPDOWN RESET END ----- */
.dropdown.dropdown-notification .btn.dropdown-toggle{
    width: 34px;
    height: 34px;
    position: relative;
    background-color: #f5f5f5;
    color: #a0a0a0;
}
.dropdown.dropdown-notification .btn.dropdown-toggle .fa{
    line-height: 30px;
}
.dropdown.dropdown-notification.show .btn.dropdown-toggle .fa{
    color: #263238;
}
.dropdown.dropdown-notification .badge-value{
    position: absolute;
    top: -13px;
    right: -3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 11px;
    font-family: 'OpenSans';
    font-weight: 600;
    color:#fff;
}
.dropdown.dropdown-notification .badge-value.bg-yellow{
    background-color: #fcb322;
}
.dropdown.dropdown-notification .badge-value.bg-green{
    background-color: #95c85a;
}
.dropdown.dropdown-notification .badge-value.bg-orange-red{
    background-color: #ef6c00;
}

.dropdown .dropdown-menu{
    border-radius: 0;
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 0 16px 20px rgba(216,216,216,.75);
            box-shadow: 0 16px 20px rgba(216,216,216,.75);
    padding: 2px;
}
.dropdown-menu .dropdown-item .item-before{
    background-color: #d4d4d4;
    width: 53px;
}
.dropdown-menu .dropdown-item + .dropdown-item{
    border-top: 1px solid #d6d6d6;
}
.dropdown-item:active, .dropdown-item.active{
    background-color: #f8f9fa;
    color: unset;
}
.dropdown-item .item-before + .item-content{
    margin-left: 15px;
}
.dropdown-item .item-price{
    margin-top: 5px;
}
.dropdown-item .item-content{
    font-family: 'Roboto';
    font-weight: 500;
}
.dropdown-item .item-content h6{
    font-size: 15px;
    color: #263238;
}
.dropdown-item .item-content .item-category{
    font-size: 12px;
    font-weight: 400;
    color: #84b743
}
.dropdown-item .item-content .item-price{
    font-size: 16px;
    color: #000;
}
.dropdown-menu.lg-before .dropdown-item{
    padding: 12px 20px 20px 20px;
}
.dropdown-menu .dropdown-item.lg-before .item-before{
    width: 73px;
}

.dropdown-menu .dropdown-item.items-checkout .checkout-info{
    font-weight: bold;
    font-size: 16px;
}
.dropdown-menu .dropdown-item.items-checkout .checkout-info + .checkout-nav{
    font-weight: bold;
    color: #f4f6f5;
    font-size: 14px;
}
.dropdown-menu .dropdown-item.items-checkout .checkout-info + .checkout-nav{
    margin-top: 20px;
}
.dropdown-menu .dropdown-item.items-checkout .checkout-nav .btn:hover{
    background-color: initial;
}
.dropdown-menu .dropdown-item.items-checkout .checkout-nav .btn.btn-success{
    background-color: #95c85a;
}
.dropdown-menu .dropdown-item.items-checkout .checkout-nav .btn.btn-danger{
    background-color: #e85647;
}
/* ===== DROPDOWN END ===== */