/* ===== CONTENT-WRAPPER START ===== */

.content-wrapper-bordered {
    background-color: #fff;
    border: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title {
    padding: 20px 34px;
    color: #263238;
    border-bottom: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title h6 {
    font-size: 24px;
}
.content-wrapper-bordered .content-wrapper-body {
    padding: 30px 34px 80px;
}

/* ===== CONTENT-WRAPPER END ===== */