footer {
    background-color: #263238;
}
footer .row {
    padding-bottom: 100px;
}
footer hr {
    width: 50px;
    size: 5px;
    margin-bottom: 30px;
}
footer p {
    margin-bottom: 35px;
}
footer i {
    font-size: 18px;
}
footer span {
    display: block;
    font-family: 'latosemibold';
    color: #fff;
    line-height: 1.4;
}
footer .footer-copyright {
    border-top: 1px solid #424d53;
    padding: 25px 0 35px 0;
}