/* ===== FORM START ===== */
/* -- reset style bootstrap start -- */
.btn.focus,
.btn:focus {  
	 -webkit-box-shadow: none;  
	         box-shadow: none;
	}
.form-control,
.btn {  
    border: none;  
    border-radius: 0;
}
button:focus,
button:active {
	outline: none;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
input:focus,
.form-control:focus {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
	outline-offset: 0;
}
.input-group .form-control:focus {
	z-index: 0;
}
.button {
	background: none;
}
input {
    width: 100%;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}
/* -- reset style bootstrap end -- */
.footer {
	width: 259px;
	height: 39px;
}
.footer .form-control {
	background-color: #2f3c43;
	color: #fff;
	line-height: 1;
	height: 39px; 
	padding: 0 10 0 14;
}
.footer .form-control::-webkit-input-placeholder {color:#697378;}
.footer .form-control.footer .form-control::-moz-placeholder          {color:#697378;}/* Firefox 19+ */
.footer .form-control:-moz-placeholder           {color:#697378;}/* Firefox 18- */
.footer .form-control:-ms-input-placeholder      {color:#697378;}

.input-group {
	padding: 1px 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#263238)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#263238));
	background-image: linear-gradient(to bottom, #000 0%, #263238 100%), linear-gradient(to bottom, #000 0%, #263238 100%);
}
.footer .btn {
	width: 45px;
}
.input-group-append .btn .fa {
	font-size: 18px;
}
/* -- SEARCH -- */
.search-item { 
	max-width: 670px;
}
.search-section .search-control {
	font-size: 14px;
	font-weight: 500;
    line-height: 1;
	letter-spacing: 0.05em;
	padding: 0 50px 0 25px;
	height: 55px;
	border-radius: 3px;
	width: 100%;
}
.search-section form:hover .search-control{
	-webkit-box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
	        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
}
.search-section .search-control::-webkit-input-placeholder {color:#90a4ae;}
.search-section .search-control::-moz-placeholder          {color:#90a4ae;}/* Firefox 19+ */
.search-section .search-control:-moz-placeholder           {color:#90a4ae;}/* Firefox 18- */
.search-section .search-control:-ms-input-placeholder      {color:#90a4ae;}

.search-item {
	position: relative;
}
.search-item .svg-inline--fa {
	position: absolute;
	top: 20%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
	right: 20px;
	font-size: 18px;
	color: #78909c;
}
/* -- FORM DATA USER -- */
/* -- guide -- */
.form-datauser {
    padding: 80px 0;
    background-color: #f4f6f5;
}
/* -- wrapper.component.css -- */
.content-wrapper-bordered {
    background-color: #fff;
    border: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title {
    padding: 20px 34px;
    color: #263238;
    border-bottom: 1px solid #dedede;
}
.content-wrapper-bordered .content-wrapper-title h6 {
    font-size: 24px;
}
.content-wrapper-bordered .content-wrapper-body {
    padding: 30px 34px 80px;
}
/* -- select -- */
.jq-selectbox {
    width: 100%;
}
.jq-selectbox__select {
    height: 40px;
    background: #f9f9f9;
    border-color: #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;

}
.jq-selectbox__select:hover {
    background: #f9f9f9; 

}
.jq-selectbox__trigger {
    border-left: 0;
    width: 40px;
}
.jq-selectbox__trigger { 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #000;
    border-top-color: #000;
}
/* ===== FORM END ===== */
