/* ===== FORM START ===== */
/* reset style bootstrap start */
.btn.focus,
.btn:focus {  
	 -webkit-box-shadow: none;  
	         box-shadow: none;
	}
.form-control,
.btn {  
border: none;  
border-radius: 0;
}
button:focus,
button:active {
	outline: none;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
input:focus,
.form-control:focus {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none;
	outline-offset: 0;
}
.form-control {
	-webkit-transition: none;
	transition: none;
}
.button {
	background: none;
}
/* reset style bootstrap end */
.footer {
	width: 259px;
	height: 39px;
}
.footer .form-control {
	/* border-top: 1px solid #000101; */
	background-color: #2f3c43;
	color: #697378;
	line-height: 2.57;
	padding: 13px 10px 13px 14px;
}
.input-group {
	padding: 1px 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#263238)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#263238));
	background-image: linear-gradient(to bottom, #000 0%, #263238 100%), linear-gradient(to bottom, #000 0%, #263238 100%);
}
.footer .btn {
	width: 45px;
}
.input-group-append .btn .fa {
	font-size: 18px;
}
/* ===== FORM END ===== */
