/* ===== TAGS START ===== */
.tags-nav {
    background-color: #f4f6f5;
}
.tags-nav a {
    font-weight: 500;
    background-color: #fff;
    color: #263238;
    line-height: 4.28;
    padding: 10px 20px;
}
.tags-nav a + a {
    margin-left: 5px;
}
.tags-nav a:hover {
    background-color: #e74c3c;
    color: #fff;
}
/* ===== TAGS END ===== */